<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MY PAGE</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font.css" type="text/css"/>
    <link rel="stylesheet" href="/css/admin.css" type="text/css"/>
    <link rel="shortcut icon" href="/images/faviconWhite.ico">
    <link rel="icon" href="/images/faviconWhite.ico">

</head>
<body class="is-preload">
<!-- 헤더 -->
<header>
    <div id="main_header" style="display: flex"></div>
</header>

<div id="main" class="modal-wrapper">
    <div id="wrapper" class="modal">
        <div class="inner head">


            <div class="adminMainCategory">

                //회원관리
                <div class="adminCategoryBtn">
                        <img src="/images/commu/paperplaneCircle.png">
                </div>

                //문의 관리
                <div class="adminCategoryBtn">
                    <img src="/images/commu/paperplaneCircleBlue.png">
                </div>

                //포인트 관리
                <div class="adminCategoryBtn">
                    <img src="/images/commu/paperplaneCircleD.png">
                </div>

                //신고글 관리
                <div class="adminCategoryBtn">
                    <!--버튼 노노노노노노 이거 href - javascript(0)으로 바꾸기-->
                    <a id="reportBtn" class="button small trigger" onclick="reportsCtrPop()">
                        <img src="/images/commu/paperplaneCircle.png"></a>
                </div>
            </div>

            <div class="adminMainCategory">
                //이벤트 관리
                <div class="adminCategoryBtn">
                    <img src="/images/commu/paperplaneCircleBlue.png">
                </div>

                //플로깅 관리
                <div class="adminCategoryBtn">
                    <img src="/images/commu/paperplaneCircleD.png">
                </div>

                //상품 등록 관리
                <div class="adminCategoryBtn">
                    <img src="/images/commu/paperplaneCircle.png">
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div id="main_footer"></div>
</footer>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script type="text/javascript"></script>
<script src="/js/headerfooter.js"></script>
</body>
<script>
    //##################################################팝업##################################################
/*

    console.log(commuToReport + "1");*/ //변수 받아올 때 쓰기

    //????????그럼 팝업 줄 때 여기에 sessionId 넣어주면 되지 않을까??????? - 물어보기
    function reportsCtrPop(){
/*        let url = "/report/report?commuBno=" + commuToReport;*/ //변수 받아올 때 쓰기222222
        let url = "/reportList"
        let name = "신고한 글 관리";
        let option = "width = 500, height = 500, top = 100, left = 200, location = no"
        window.open(url, name, option);
    }

</script>
</html>