<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MY PAGE</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font.css" type="text/css"/>
    <link rel="stylesheet" href="/css/admin.css" type="text/css"/>
    <link rel="shortcut icon" href="/images/faviconWhite.ico">
    <link rel="icon" href="/images/faviconWhite.ico">

</head>
<body class="is-preload">
<!-- 헤더 -->
<header>
    <div id="main_header" style="display: flex"></div>
</header>

<div id="main" class="modal-wrapper">
    <div id="wrapper" class="modal">
        <div class="inner head">
            <div id="adminPageTitle">
                <div class="adminPageTitle">관리자 페이지</div>
            </div>

            <div class="adminMainCategory">
                <!--//회원관리-->
                <div class="adminCategoryBtn">
                        <img src="/images/commu/paperplaneCircle.png">
                </div>

                <!--//문의 관리-->
                <div class="adminCategoryBtn">
                    <img src="/images/commu/paperplaneCircleBlue.png">
                </div>

             <!--   //포인트 관리-->
                <div class="adminCategoryBtn">
                    <img src="/images/commu/paperplaneCircleD.png">
                </div>

               <!-- //신고글 관리-->
                <div class="adminCategoryBtn">
                    <!--버튼 노노노노노노 이거 href - javascript(0)으로 바꾸기-->
                    <a href="javascript:void(0)" id="reportBtn" class="button small trigger" onclick="reportsCtrPop()">
                        <img src="/images/commu/paperplaneCircle.png"></a>
                </div>
            </div>

            <div class="adminMainCategory">
              <!--  //이벤트 관리-->
                <div class="adminCategoryBtn">
                    <img src="/images/commu/paperplaneCircleBlue.png">
                </div>

             <!--   //플로깅 관리-->
                <div class="adminCategoryBtn">
                    <a href="javascript:void(0)" id="ploggingBtn" class="button small trigger" onclick="commuPop()">
                        <img src="/images/commu/paperplaneCircleD.png"></a>
                </div>

                <!--//상품 등록 관리-->
                <div class="adminCategoryBtn">
                    <img src="/images/commu/paperplaneCircle.png">
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div id="main_footer"></div>
</footer>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script type="text/javascript"></script>
<script src="/js/headerfooter.js"></script>
</body>
<script>
    //##################################################팝업##################################################
/*

    console.log(commuToReport + "1");*/ //변수 받아올 때 쓰기
    function reportsCtrPop(){
        let url = "/report/reportList"
        let name = "신고한 글 관리";
        let option = "width = 1440, height = 700, top = 50, left = 50, location = no"
        window.open(url, name, option);
    }


</script>
</html>