<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
</body>
<script th:inline="javascript">
    let msg = [[${msg}]];
    console.log(msg);

    if (msg != null || msg != "null" || msg != "") {
        switch (msg) {
            case "notLogin":
                alert("로그인 후 이용바랍니다.");
                location.href="/member/login"
                break;
        switch (msg) {
            case "notAdmin":
                alert("관리자 계정으로 로그인 후 이용바랍니다.");
                location.href="/member/login"
                break;
        }}else{
        console.log("err");
    }
    // location.href="/member/login"
</script>
</html>