<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.team4.joopging.community.vo.CommuVO" alias="commuVO"/>
        <typeAlias type="com.team4.joopging.community.vo.CommuReplyVO" alias="commuReplyVO"/>
        <typeAlias type="com.team4.joopging.community.vo.CommuAttachFileVO" alias="commuAttachFileVO"/>
        <typeAlias type="com.team4.joopging.admin.vo.ReportVO" alias="reportVO"/>
    </typeAliases>
</configuration>