<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.team4.joopging.event.vo.EventVO" alias="eventVO"/>
        <typeAlias type="com.team4.joopging.member.memberVO.MemberVO" alias="MemberVO"/>
        <typeAlias type="com.team4.joopging.point.vo.PointVO" alias="pointVO"/>
        <typeAlias type="com.team4.joopging.event.vo.EventVO" alias="eventVO"/>
        <typeAlias type="com.team4.joopging.plogging.vo.PloggingVO" alias="ploggingVO"/>
        <typeAlias type="com.team4.joopging.plogging.vo.PloAttachFileVO" alias="ploAttachFileVO"/>
    </typeAliases>
</configuration>