<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.joopging.mappers.MypageMapper">

    <!--플로깅 예약 목록-->
    <select id="getReservationList" resultType="com.team4.joopging.mypage.vo.reservationVO">
        <![[CDATA
        SELECT * FROM TBL_RESERVATION WHERE reservation > 0
        ]]
    </select>
    <!--포인트 목록-->
    <select id="getPointList" resultType="com.team4.joopging.mypage.vo.pointVO">
        <![[CDATA
        SELECT * FROM TBL_POINT WHERE pointNum > 0
        ]]
    </select>
    <!--구매 상품 목록-->
    <select id="getGoodsOrderList" resultType="com.team4.joopging.mypage.vo.goodsOrderVO">
        <![[CDATA
        SELECT * FROM TBL_GOODS_ORDER WHERE orderNum > 0
        ]]
    </select>
    <!--상품 택배-->
    <select id="getParcel" resultType="com.team4.joopging.mypage.vo.parcelVO">
        <![[CDATA
        SELECT * FROM TBL_PARCEL WHERE orderNum = #{orderNum}
        ]]
    </select>
    <!--찜 목록-->
    <select id="getGoodsLikeList" resultType="com.team4.joopging.mypage.vo.goodsLikeListVO">
        <![[CDATA
        SELECT * FROM TBL_GOODS_LIKE_LIST WHERE goodsLikeListNum > 0
        ]]
    </select>
    <!--플로깅 예약 취소-->
    <update id="deleteReservation">
    UPDATE TBL_RESERVATION
    SET reservationStatus = 1
    WHERE reservation = #{reservation}
    </update>
    <!--구매 취소-->
    <update id="deleteGoodsOrder">
    UPDATE TBL_GOODS_ORDER
    SET orderStatus = 1
    WHERE orderNum = #{orderNum}
    </update>
</mapper>