<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.joopging.mappers.OrderHistoryMapper">


    <!--구매 상품 목록-->

    <select id="getOrderHistoryList" parameterType="map" resultType="com.team4.joopging.mypage.vo.TempOrderHistoryVO">
        <![CDATA[
SELECT orderNum,memberNum,goodsNum,goodsName,goodsCnt,goodsColor,goodsSize,orderDate,
    recipient,recipientPhone,recipientZipCode,recipientAddress,recipientAddressEtc,
    parcelMessage,usePoint,orderStatus
    FROM (
SELECT /** INDEX_DESC(TBL_HISTORY_ORDER ORDERNUM_PK)*/
    ROWNUM R, orderNum,memberNum,goodsNum,goodsName,goodsCnt,goodsColor,goodsSize,orderDate,
    recipient,recipientPhone,recipientZipCode,recipientAddress,recipientAddressEtc,
    parcelMessage,usePoint,orderStatus
FROM TBL_ORDER_HISTORY WHERE memberNum = #{memberNum} AND
                ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
            )
        WHERE R > (#{criteria.pageNum} - 1) * #{criteria.amount}
                        ]]>
</select>

    <!--주문번호로 내 상품 정보 가져오기-->
    <select id="getOrderHistory" resultType="com.team4.joopging.mypage.vo.TempOrderHistoryVO">
        SELECT orderNum,memberNum,goodsNum,goodsName,goodsCnt,goodsColor,goodsSize,orderDate,
    recipient,recipientPhone,recipientZipCode,recipientAddress,recipientAddressEtc,
    parcelMessage,usePoint,orderStatus
    FROM TBL_ORDER_HISTORY WHERE orderNum=#{orderNum}
    </select>

    <!--내 상품의 전체 내역의 개수-->
    <select id="totalOrderCnt" resultType="_int">
        SELECT COUNT(orderNum) FROM TBL_ORDER_HISTORY WHERE memberNum = #{memberNum}
    </select>

    <!--내가 구매하 상품의 전체 개수-->
    <select id="realTotalOrderCnt" resultType="_int">
        SELECT COUNT(orderNum) FROM TBL_ORDER_HISTORY WHERE memberNum = #{memberNum} AND NOT orderStatus = 1
    </select>

    <!--상품 택배-->
    <select id="getParcel" resultType="com.team4.joopging.mypage.vo.TempParcelVO">
<![CDATA[
SELECT parcelNum, parcelCode, parcelKey, orderNum
FROM TBL_PARCEL WHERE orderNum = #{orderNum}
]]>
</select>

    <!--구매 취소-->
    <update id="deleteGoodsOrder">
UPDATE TBL_GOODS_ORDER
SET orderStatus = 1
WHERE orderNum = #{orderNum}
</update>

    <!--구매취소된 상품 불러오기-->
    <select id="deletOrderList" resultType="com.team4.joopging.mypage.vo.TempOrderHistoryVO">
    SELECT orderNum,memberNum,goodsNum,goodsName,goodsCnt,goodsColor,goodsSize,orderDate,
    recipient,recipientPhone,recipientZipCode,recipientAddress,recipientAddressEtc,
    parcelMessage,usePoint,orderStatus
FROM TBL_GOODS_ORDER WHERE orderStatus = 1;
    </select>
</mapper>