<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.joopging.mappers.OrderHistoryMapper">


    <!--구매 상품 목록-->
    <select id="getGoodsOrderList" resultType="com.team4.joopging.mypage.vo.OrderHistoryVO">
SELECT orderNum,memberNum,goodsNum,goodsCnt,goodsColor,goodsSize,orderDate,
    recipient,recipientPhone,recipientZipCode,recipientAddress,recipientAddressEtc,
    parcelMessage,usePoint,orderStatus
    FROM (
        <![CDATA[
SELECT /** INDEX_DESC(TBL_HISTORY_ORDER ORDERNUM_PK)*/
    ROWNUM R, orderNum,memberNum,goodsNum,goodsCnt,goodsColor,goodsSize,orderDate,
    recipient,recipientPhone,recipientZipCode,recipientAddress,recipientAddressEtc,
    parcelMessage,usePoint,orderStatus
FROM TBL_ORDER_HISTORY WHERE memberNum = #{memberNum}
                ROWNUM <= #{pageNum} * #{amount}
            )
        WHERE R > (#{pageNum} - 1) * #{amount}
                        ]]>
</select>

    <!--내가 구매하 상품의 전체 개수-->
    <select id="totalOrderCnt" resultType="_int">
        SELECT COUNT(orderNum) FROM TBL_ORDER_HISTORY WHERE memberNum = #{memberNum}
    </select>

    <!--상품 택배-->
    <select id="getParcel" resultType="com.team4.joopging.mypage.vo.ParcelVO">
<![CDATA[
SELECT parcelNum, parcelCode, orderNum
FROM TBL_PARCEL WHERE orderNum = #{orderNum}
]]>
</select>

    <!--구매 취소-->
    <update id="deleteGoodsOrder">
UPDATE TBL_GOODS_ORDER
SET orderStatus = 1
WHERE orderNum = #{orderNum}
</update>

    <!--구매취소된 상품 불러오기-->
    <select id="deletOrderList" resultType="com.team4.joopging.mypage.vo.OrderHistoryVO">
    SELECT orderNum,memberNum,goodsNum,goodsCnt,goodsColor,goodsSize,orderDate,
    recipient,recipientPhone,recipientZipCode,recipientAddress,recipientAddressEtc,
    parcelMessage,usePoint,orderStatus
FROM TBL_GOODS_ORDER WHERE orderStatus = 1;
    </select>

    <!--내가 구매한 상품의 상품 정보-->
    <select id="getOrderGoodsinfo">

    </select>

</mapper>