<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.joopging.mappers.ReportMapper">

    <!--신고 등록 from 유저 to 관리자-->
    <insert id="insertReport">
        INSERT INTO TBL_REPORT (REPORTNUM, SESSIONID, COMMUWRITER, PURPOSE, COMMUBNO, COMMUTITLE)
        VALUES(SEQ_REPORT.NEXTVAL, #{sessionId}, #{commuWriter}, #{purpose}, #{commuBno}, #{commuTitle})
    </insert>

    <!--특정 게시글 가져오기-->
    <select id="readReportedCommu" resultType="commuVO">
		SELECT COMMUBNO, COMMUTITLE, COMMUWRITER, COMMUBOARDSTATUS
		FROM TBL_COMMUBOARD WHERE COMMUBNO = #{commuBno}
	</select>

    <!--신고하기 버튼 누르면 게시글 status를 1로 변경-->
    <update id="commuToReported">
		UPDATE TBL_COMMUBOARD
		SET COMMUBOARDSTATUS = 1
		WHERE COMMUBNO = #{reportVO.commuBno}
	</update>
    <!--신고하기 버튼 누르면 게시글 status를 1로 변경-->
<!--    <update id="commuToReported">
		UPDATE
		    (
		        SELECT A.COMMUBOARDSTATUS A.COMMUBNO B.COMMUBNO
		        FROM TBL_COMMUBOARD A, TBL_REPORT B
		        WHERE A.COMMUBNO = B.COMMUBNO
		    )
		SET COMMUBOARDSTATUS = 1
		WHERE A.COMMUBNO = #{commuBno}
	</update>-->

</mapper>