<!DOCTYPE html>
<html lang="en">
<body>
<input style="width: 500px; height: 250px; font-size: 50px;" type="button" onclick="eventWritePopup()" value="이벤트 등록하기">
<input style="width: 500px; height: 250px; font-size: 50px;" type="button" onclick="plogWritePopup()" value="플로깅 등록하기">
<script>
    /*플로깅 등록하기*/
    function plogWritePopup() {
        var url = "/plo/ploWritePop";
        var name = "plogging";
        var option = "width=600, height=800, top=120, left=600, location=no";

        window.open(url, name, option);
    }
</script>

</body>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</html>