<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기 SMS인증 페이지</title>
</head>
<body>
<div class="out" >
    <h3 style="text-align:center">신용 카드 결제</h3>
    <hr>
    <div class="col-6 col-12-xsmall" style="margin-left: 10px; ">
        <p style="margin:0;">
            <span id="idCheck_text" style="font-size:0.7em; font-weight: bold; ">카드번호</span>
        </p>
        <input type="text" style="width:15%; height:30px; border:solid 1px #dddddd; border-radius: 5px;" name="card_1" id="card_1" onKeyup="inputMoveNumber(this);" maxlength="4"/>&nbsp;-&nbsp;
        <input type="text" style="width:15%; height:30px; border:solid 1px #dddddd; border-radius: 5px;" name="card_2" id="card_2" onKeyup="inputMoveNumber(this);" maxlength="4"/>&nbsp;-&nbsp;
        <input type="text" style="width:15%; height:30px; border:solid 1px #dddddd; border-radius: 5px;" name="card_3" id="card_3" onKeyup="inputMoveNumber(this);" maxlength="4"/>&nbsp;-&nbsp;
        <input type="text" style="width:15%; height:30px; border:solid 1px #dddddd; border-radius: 5px;" name="card_4" id="card_4" onKeyup="inputMoveNumber(this);" maxlength="4"/>
        <br>
        <p style="margin:0;">
            <span id="idCheck_text" style="font-size:0.7em; font-weight: bold;">카드명의</span>
        </p>
        <input class="line" type="text" name="member_id" id="member_id" value="" placeholder="SEONG YOON KIM (영자)" style="width:70%; height:45px; margin: 3px;"/>
        <br>
        <div style="display:flex;">
            <div style="width:35%; margin: 3px;">
                <span id="idCheck_text" style="font-size:0.7em; font-weight: bold; width:100%;" >유효기간</span><br>
                <input class="line" type="text" name="member_id" id="member_id" style="width:100%; height:45px; margin: 3px;" onKeyup="inputValidThru(this);" placeholder="MM/YY" maxlength="5"/>
            </div>
            <div style="width:35%; margin: 3px;">
                <span id="idCheck_text" style="font-size:0.7em; font-weight: bold;">cvc코드</span>
                <input class="line" type="text" name="member_id" id="member_id" style="width:100px; height:45px; margin: 3px;" maxlength="3" placeholder="cvc 번호"/>
            </div>
        </div>
        <p style="margin:0;">
            <span id="idCheck_text" style="font-size:0.7em; font-weight: bold;">비밀번호</span>
        </p>
        <input class="line" type="password" name="member_id" id="member_id" value="" placeholder="카드 비밀번호 4자리" style="width:70%; height:45px; margin: 3px;" maxlength="4"/>
        <br>
        <br>
    </div>
    <div style="text-align:center;">
        <input class="line" id="payMent" name="payMent" style="border:none; text-align:center; font-size:20px; font-color:red;" type="text" value="결제 금액 : ${param.pay}" readonly/>
        <br>
        <br>
        <input type="submit" value="결제" class="primary" onclick="payMent()" style="width:100px;"/>
        <span style="padding:10px"></span>
        <input type="submit" value="취소" class="primary" onclick="window.close()" style="width:100px;"/>
    </div>
</div>
</body>
<script>
    function payMent(){
        alert("결제 미구현 상태입니다.");
    }

    function inputMoveNumber(num) {
        if(isFinite(num.value) == false) {
            alert("카드번호는 숫자만 입력할 수 있습니다.");
            num.value = "";
            return false;
        }
        max = num.getAttribute("maxlength");

        if(num.value.length >= max) {
            num.nextElementSibling.focus();
        }
    }
    function inputValidThru(period) {

        // replace 함수를 사용하여 슬래시( / )을 공백으로 치환한다.
        var replaceCard = period.value.replace(/\//g, "");

        // 텍스트박스의 입력값이 4~5글자 사이가 되는 경우에만 실행한다.
        if(replaceCard.length >= 4 && replaceCard.length < 5) {

            var inputMonth = replaceCard.substring(0, 2);    // 선언한 변수 month에 월의 정보값을 담는다.
            var inputYear = replaceCard.substring(2, 4);       // 선언한 변수 year에 년의 정보값을 담는다.



            // 현재 날짜 값을 구한다.

            var nowDate = new Date();

            var nowMonth = autoLeftPad(nowDate.getMonth() + 1, 2);

            var nowYear = autoLeftPad(nowDate.getFullYear().toString().substr(2, 2), 2);


            // isFinite함수를 사용하여 문자가 선언되었는지 확인한다.
            if(isFinite(inputMonth + inputYear) == false) {
                alert("문자는 입력하실 수 없습니다.");
                period.value = autoLeftPad((Number(nowMonth) + 1), 2) + "/" + nowYear;
                return false;
            }

            // 입력한 월이 12월 보다 큰 경우
            if(inputMonth > 12) {
                alert("12월보다 큰 월수는 입력하실 수 없습니다. ");
                period.value = "12/" + inputYear;
                return false;
            }



            // 입력한 유효기간을 현재날짜와 비교하여 사용 가능 여부를 판단한다.
            if((inputYear + inputMonth) <= (nowYear + nowMonth)) {
                alert("유효기간이 만료된 카드는 사용하실 수 없습니다.");
                period.value = inputMonth + "/" + autoLeftPad((Number(nowYear) + 1), 2);
                return false;
            }

            period.value = inputMonth + "/" + inputYear;
        }
    }



    // 1자리 문자열의 경우 앞자리에 숫자 0을 자동으로 채워 00형태로 출력하기위한 함수
    function autoLeftPad(num, digit) {
        if(String(num).length < digit) {
            num = new Array(digit - String(num).length + 1).join('0') + num;
        }
        return num;
    }
</script>
</html>