<!DOCTYPE HTML>
<!-- 성윤 : 플로깅 소개페이지 -->
<html>
<head>
    <title>플로깅 소개</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="shortcut icon" href="/images/faviconWhite.ico">
    <link rel="icon" href="/images/faviconWhite.ico">
    <style>
        input[type='button'], input[type='submit'] {
            border-radius: 0;
        }

        textarea {
            resize: none;
        }

        label {
            margin-top: 3%;
        }

        div.preview {
            overflow: hidden;
        }

        div.preview img {
            object-fit: cover;
        }
    </style>
</head>
<body style="margin: 0px;">
<div id="main_header" style="display: flex;"></div>
<section id="main" style="padding:5px; display: flex; justify-content: space-around;">
    <div class="container">
            <!-- 소개글 -->
            <div style="text-align:center; font-weight:bold; font-size:15px; margin-top: 90px;">
            <h1 style="font-size:30px; text-align: center;">플로깅이란?</h1>
                <p>
                    플로깅(Plogging)은 이삭줍기를 의미하는 스웨덴어의 <br>
                    '플로카 업'과 '조깅'의 합성어로, 조깅하면서 쓰레기를 줍는 활동을 말합니다.<br>
                    플로깅은 2016년 스웨덴에서 시작되어 현재는 전 세계로 확산된 환경보호 운동입니다.
                </p>
                <hr>
            </div>

            <!-- 줍깅의 목적 -->
            <h1 style="text-align: center;">줍깅에서 추구하는 가치</h1>

            <!-- 이미지 두장으로 표현 -->
            <div style="text-align:center; ">
                <img src="/images/ploggingInfo.jpg" alt="" style="width:670px;"/>
                <img src="/images/ploggingMent.png" alt="" style="width:670px;"/>
            </div>

    </div>
</section>
<div id="main_footer"></div>
<script src="/js/jquery.min.js"></script>
<script src="/js/header.js"></script>
</body>
</html>