@charset "UTF-8";

header{
	display: block;
}

header {
		margin: 0 0 1.5em 0;
	}
	
	header > p {
			display: block;
			font-style: oblique;
			margin: 0.5em 0 0 0;
			padding-bottom: 0.5em;
		}

		header.major {
			position: relative;
			text-align: center;
			border-top: solid 1px #ccc;
			top: 1em;
			margin: 0 0 3em 0;
		}

			header.major h2 {
				background: #fff;
				position: relative;
				top: -0.65em;
				display: inline;
				margin: 0;
				padding: 0 1em 0 1em;
			}
			
			.box.post header {
			padding-top: 1em;
			margin: 0 0 2em 0;
		}
			
			.box.post header > p {
			margin-top: 1.25em;
			font-size: 1.25em;
		}
			
			
			#header {
		position: relative;
		background: #ffffff;
		border-bottom: solid 1px #ccc;
		padding: 5em 0 4em 0;
		text-align: center;
	}

		#header h1 {
			color: #252122;
			font-weight: 900;
			font-size: 2.5em;
			letter-spacing: -0.035em;
			line-height: 1;
		}
		
		
		
			header.major {
				margin: 0.75em 0 2.5em 0;
			}

				header.major h2 {
					padding: 0 1em 0 1em;
				}
			
			
			#header {
				padding: 4em 0 3em 0;
			}
			
			#header {
				padding: 3.5em 0 3em 0;
			}
			
			
			header {
				margin: 0 0 1em 0;
			}
			
				.box.post header {
					padding-top: 0;
					margin: 0 0 1em 0;
				}
				
				
					.box.post header > p {
					margin-top: 0;
					font-size: 1em;
				}
				
				
				/* Header */

			#header {
				text-align: center;
				padding: 0 0 2em 0;}

				#header h1 {
					color: #252122;
					font-weight: 900;
					font-size: 1.75em;
					letter-spacing: -0.035em;
				}
			