<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <title>Title</title>
</head>
<style>
    .payment{
        width: 50%;
        text-align: center;
        display: flex;
        margin: auto;
        background-color: #f7f7f7;
    }

    .button{
        width: 50%;
        margin-top: 1%;
        text-align: center;
    }
</style>
<body>
<div style ="text-align:center">
    <img style ="width: 7%;" src="/images/빨간엑스.png">
    <h2>주문에 실패하였습니다.</h2>
    <h4>OOO 님의 주문 결과는 다음과 같습니다.</h4>
    <div class="payment">
        <table style="margin: auto;">

            <tr>
                <td>
                    결제 ID
                </td>
                <td>
                    admin
                </td>


            </tr>
            <tr>
                <td>
                    실패 코드
                </td>
                <td>
                    ERROR - 072
                </td>
            </tr>
            <tr>
                <td>
                    실패 사유
                </td>
                <td>
                    잔액 부족
                </td>
            </tr>
        </table>

    </div>
    <button class="button">확인</button>
</div>



</body>
</html>