<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾깅</title>
</head>
<style>
    .out{
        width: 400px;
        height: 550px;
        margin: 5px;
        padding: 2px;
        border: none;
    }
    .line{
        border:solid 1px #dddddd;
        border-radius: 5px;
    }
</style>
<link rel="stylesheet" href="/css/main.css" type="text/css"/>
<body>
<div class="out" style="margin-top: 0px; padding-top: 0px;">
    <div>
        <h3 style="text-align:center">SMS 인증으로 비밀번호 찾기</h3>
    </div>
    <hr>
    <div class="col-6 col-12-xsmall" style="width:100%">
        <p style="margin:0;">
            아이디 <span id="idCheck_text" style="font-size:0.7em;"></span>
        </p>
        <form name="findId" id="findId">
            <input class="line" type="text" name="member_id" id="member_id" value="" placeholder="아이디입력" style="width:100%; height:50px;"/>
        </form>
        <br>
        <p style="margin:0;">
            이름 <span id="nameCheck_text" style="font-size:0.7em;"></span>
        </p>
        <input class="line" type="text" name="member_name" id="member_name" value="" placeholder="성명입력" style="width:100%; height:50px;"/>
        <br>
        <br>
        <p style="margin:0;">
            생년월일 / 성별 <span id="genderCheck_text" style="font-size:0.7em;"></span>
        </p>
        <input class="line" type="text" name="member_birth" id="member_birth" value="" placeholder="생년월일" style="width:40%; height:50px;"/>
        -
        <input class="line" type="text" name="member_gender" id="member_gender" value="" placeholder="" style="width:10%; height:50px;"/>
        ******
        <br>
        <br>
        <p style="margin:0;">
            휴대폰번호 <span id="phoneCheck_text" style="font-size:0.7em;"></span>
        </p>
        <input class="line" type="text" name="member_phone" id="member_phone" value="" placeholder="숫자만 입력" style="width:100%; height:50px;"/>
        <br>
        <br>
        <div style="text-align:center;" class="col-12">
            <form action="/app/member/certifyPw.jsp" name="actionSubmit">
                <!-- <form> -->
                <button type="button" value="완료" class="primary" onclick="certifyPw()" style="width:150px; height:50px; background:#94c477;">완료</button>
                <span style="padding:10px"></span>
                <button type="button" value="취소" class="primary" onclick="window.close()" style="width:150px; height:50px; background:#94c477;">취소</button>
                <input type="hidden" id="memberName" name="memberName" readonly/>
                <input type="hidden" id="randomNum" name="randomNum" readonly/>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    function generateRandomCode() {
        let str = ''
        for (let i = 0; i < 6; i++) {
            str += Math.floor(Math.random() * 10);
        }
        return str;
    }


    function certifyPw(){
        var form = document.findId;
        console.log(form.member_id.value);

        if(!form.member_id.value){
            alert("아이디을 입력해주세요.");
            return false;
        }

        var id = form.member_id.value;
        console.log(id);

        $.ajax({
            url:contextPath+"/member/MemberCheckIdOk.me?id=" + id,
            type:"get",
            dataType:"json",
            success:function(result){
                if(result.status == "ok"){
                    //DOM
                    //$("#idCheck_text").text("사용 가능");
                    //$("#idCheck_text").css("color", "blue");
                    alert("가입되지 않은 아이디입니다.");
                }else{
                    //DOM
                    //$("#idCheck_text").text("사용 불가");
                    //$("#idCheck_text").css("color", "red");
                    var memberName = document.getElementById('member_id');
                    document.getElementById('memberName').value = memberName.value;
                    document.getElementById('randomNum').value = generateRandomCode();

                    form = document.actionSubmit;
                    form.submit();
                }
            },
            error:function(){
                console.log("오류");
            }
        });

        /* var memberName = document.getElementById('member_id');
        document.getElementById('memberName').value = memberName.value;
        document.getElementById('randomNum').value = generateRandomCode();

        form = document.actionSubmit;
        form.submit(); */
    }

</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript"></script>
<script src="/js/header.js"></script>
</html>