<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/footer.css" type="text/css"/>
</head>
<body>
<hr>
<!-- Footer -->
<div id="footer" name="footer">
    <div class="container">
        <div class="col-4 col-12-medium">
            <section>
                <div id="social">
                    <a href="http://www.youtube.com/ChildfundKorea" target="_blank">
                        <img src="/images/youtube.png">
                    </a>
                    <a href="http://www.facebook.com/childfundkor" target="_blank">
                        <img src="/images/facebook.png">
                    </a>
                    <a href="https://twitter.com/childfundkorea" target="_blank">
                        <img src="/images/twitter.png">
                    </a>
                    <a href="https://instagram.com/childfundkorea_official" target="_blank">
                        <img src="/images/instagram.png">
                    </a>
                    <a href="https://blog.naver.com/childfundkor" target="_blank">
                        <img src="/images/naverblog.png">
                    </a>
                </div>

                <ul class="link-list" id="social1">
                    <a style="text-decoration: none;" onclick="window.open('/member/terms', '약관', 'width=500, height=700, top=100, left=200, location=no');">
                        <span><b>이용약관</b></span>
                    </a>
                    <span> ㅣ </span>
                    <a style="text-decoration: none;" onclick="window.open('/member/terms', '약관', 'width=500, height=700, top=100, left=200, location=no');">
                        <span><b>개인정보처리방침</b></span>
                    </a>

                    <div class="inner">
                        <span>플로깅플로깅</span>
                        <span> ㅣ </span>
                        <span>사업자등록번호 100-82-00018</span>
                        <span> ㅣ </span>
                        <span>회장 한동석</span>
                        <span> ㅣ </span>
                        <span>대표이사 김보영</span>
                    </div>
                    <div class="inner">
                        <span>(04522) 서울시 중구 무교로 20 플로깅재단빌딩</span>
                        <span> ㅣ </span>
                        <span>대표전화 1588-1004 </span>
                        <span> ㅣ </span>
                        <span>팩스 02-123-4567</span>
                    </div>
                </ul>

            </section>
        </div>
    </div>
    <br>
    <div class="copyright">
        <p>Copyright © plogging Korea. All Rights Reserved. 후원문의
            1588-1004</p>
    </div>
</div>
</div>
</body>
</html>