<!DOCTYPE HTML>
<!-- 성윤 : 회원가입 페이지 -->
<html>
<head>
    <title>줍깅 가입하깅</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <style>
        input[type='button'], input[type='submit'] {
            border-radius: 0;
        }

        textarea {
            resize: none;
        }

        label {
            margin-top: 3%;
        }

        div.preview {
            overflow: hidden;
        }

        div.preview img {
            object-fit: cover;
        }
    </style>
</head>
<body class="is-preload">
<div id="page-wrapper">
    <div class="wrapper">
        <div class="inner">

            <!-- 회원가입 인사말 -->
            <section id="join_header" style="padding:5px; display: flex; justify-content: space-around;">
                <div style="text-align: center; width:1200px;">
                    환영합니다 고객님<br> 회원가입하깅 진행 후 정상적인 서비스를 이용하실 수 있습니다.
                </div>
            </section>

            <!-- 회원가입 시작 -->
            <section id="main" style="padding:5px; display: flex; justify-content: space-around;">
                <form method="post" action="${pageContext.request.contextPath}/member/MemberJoinOk.me" name="joinForm">
                    <div style="width:1300px; display: flex; justify-content: space-around;">
                        <div style="width: 500px; padding:5px;">

                            <!-- 필수 항목 입력 -->
                            <p style="background: #fd3a3a2e">
                                <span style="color: red; font-size: 2rem; font-weight: bold;">*</span>
                                아래 항목은 모두 작성해주세요.
                            </p>

                            <div>
                                <div class="col-6 col-12-xsmall" style="width: 100%">
                                    <!-- 아이디 -->
                                    <p style="margin: 0;">
                                        아이디 <span id="idCheck_text" style="font-size: 0.7em;"></span>
                                    </p>
                                    <input type="text" name="member_id" id="member_id" value="" placeholder="6자 이상의 영문 혹은 영문과 숫자를 조합" /> <br>

                                    <!-- 비밀번호 -->
                                    <p style="margin: 0;">비밀번호</p>
                                    <input type="password" name="member_pw" id="member_pw" value="" placeholder="영문 4자 이상, 최대 20자" /> <br>

                                    <div style="display: flex; justify-content: space-between;">
                                        <!-- 이름 -->
                                        <div style="width: 60%;">
                                            <p style="margin: 0;">이름</p>
                                            <input type="text" name="member_name" id="member_name" value="" />
                                        </div>

                                        <!-- 생년월일 -->
                                        <div style="width: 30%;">
                                            <p style="margin:0;">생년월일 6자리</p>
                                            <input type="text" name="member_age" id="member_age" value="" maxlength="6"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <!-- 선택 항목 입력 -->
                            <p style="background: #3a6dfd2e">
									<span style="color: red; font-size: 2rem; font-weight: bold;">
									</span>아래 항목은 선택 사항입니다.
                            </p>

                            <!-- 성별 선택 -->
                            <p style="margin: 0;">성별 선택</p>
                            <div style="width: 100%; text-align: center;">
                                <select id="gender" name="member_gender" class="sel" aria-label="성별">
                                    <option id="none" value="선택안함" selected>선택 안함</option>
                                    <option id="male" value="남자">남자</option>
                                    <option id="female" value="여자">여자</option>
                                </select>
                                <br>
                            </div>

                            <!-- 이메일 -->
                            <p style="margin: 0;">이메일</p>
                            <input type="text" name="member_email" id="member_email" value="" /><br>

                            <!-- 우편번호 -->
                            <p style="margin: 0;">우편번호</p>
                            <div style="display: flex; justify-content: space-between;">
                                <div style="width: 75%; margin-bottom: 15px;">
                                    <input type="text" name="member_zipcode" id="member_zipcode" class="postcodify_postcode5" value="" />
                                </div>
                                <div style="width: 20%;">
                                    <input type="button" id="postcodify_search_button" class="button primary" style="border-radius: 0; background:#94c477;" value="검색">
                                </div>
                            </div>

                            <!-- 주소 -->
                            <p style="margin: 0;">주소</p>
                            <input type="text" name="member_address" id="member_address" class="postcodify_address" value="" /> <br>

                            <p style="margin: 0;">상세주소</p>
                            <input type="text" name="member_address_detail" id="member_address_detail" class="postcodify_details" value="" />
                            <br>

                            <p style="margin: 0;">참고항목</p>
                            <input type="text" name="member_address_etc" id="member_address_etc" class="postcodify_extra_info" value="" />
                            <br>

                            <!-- 약관 동의 -->
                            <label for="term" style="font-size: 1.1em; font-weight: bold; text-align: center;">
                                <a href="#" onclick="terms()">서비스 이용 및 개인정보 수집 약관</a>에 전체 	동의합니다.
                                <input type="checkbox" id="term" name="term"  style="width: 25px; height: 25px;">
                            </label>

                            <div style="text-align: center; margin-top:20px;" class="col-12">
                                <input type="button" value="완료" class="primary" onclick="formSubmit()" style="background:#94c477"/>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
</body>
<script src="/js/join.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</html>