<!DOCTYPE html>
<html lang="en">
<style>
    #goods_stock{

        width:40%;

    }


</style>

<head>
    <title>admin enroll</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/header.css" type="text/css"/>
    <link rel="shortcut icon" href="/images/faviconWhite.ico">
    <link rel="icon" href="/images/faviconWhite.ico">


</head>
<body class="homepage is-preload" style = "font-family: 'yg-jalnan';">
<div id="page-wrapper">
    <!-- Main -->
    <section id="main">
        <div class="container">

            <div class="col-8 col-12-medium imp-medium"  id = "" style="display: block; padding: 50px 15% 50px 15%">
                <article class="box post">
                    <header>
                        <h2>상품 등록</h2>
                    </header>

                    <!-- 폼태그 시작점 -->
                    <form action="/shop/shopEnroll" method="post" id="registForm">

                        <!-- 상품명 입력 -->
                        <p>
                        <p style="margin: 0;text-align:left;">상품명</p>
                        <input id="goodsName" name="goodsName" type="text" placeholder="등록 상품 이름">
                        </p>

                        <!-- 상품 카테고리선택 -->
                        <p style="margin: 0;text-align:left;">카테고리 선택</p>
                        <select class="goodsCategory" name="goodsCategory">
                            <option class="goodsCategory" value="no select" selected>선택</option>
                            <option class="goodsCategory" value="T-shirts">T-shirts</option>
                            <option class="goodsCategory" value="Bottom">Bottom</option>
                            <option class="goodsCategory" value="Plogging_Bag">Plogging_Bag</option>
                            <option class="goodsCategory" value="Plogging_Acc">Plogging_Acc</option>
                        </select> <br>


                        <!-- 상품 이미지 첨부 -->
                        <div style="margin-bottom:2%;text-align:left;">
                            <span>상품 이미지파일(첫번째 첨부파일은 썸네일 입니다.)</span>
                        </div>

                        <div class="field">
                            <h4>첨부파일</h4>
                            <input type="file" name="uploadFiles" multiple>
                        </div>
                        <div class="field">
                            <div class="uploadResult">
                                <ul></ul>
                            </div>
                        </div>
                        <div class="bigPictureWrapper">
                            <div class="bigPicture">

                            </div>
                        </div>


                        <!--  <div style="display:flex;">
                              <div class="files">
                                  <div>
                                      <div>메인 사진</div>
                                      <label for="board_file1" style="display:inline;">
                                          <img id="board_file1Img" src="/images/filePlus3.png" width="110px" height="110px" style="display:inline;">
                                      </label>
                                  </div>
                                  <input id="board_file1" name="board_file1" type="file" style="display:none;" accept="image/*" />
                                  <input type="button" onclick="cancelFile('board_file1')" value="첨부 삭제" class="deleteButton">
                              </div>


                              <div class="files">
                                  <div>서브 사진1</div>
                                  <div>
                                      <label for="board_file2" style="display:inline;">
                                          <img id="board_file2Img" src="/images/filePlus3.png" width="110px" height="110px" style="display:inline;">
                                      </label>
                                  </div>
                                  <input id="board_file2" name="board_file2" type="file" style="display:none;" accept="image/*" />
                                  <input type="button" onclick="cancelFile('board_file2')" value="첨부 삭제" class="deleteButton">
                              </div>


                              <div class="files">
                                  <div>서브 사진2</div>
                                  <div>
                                      <label for="board_file3" style="display:inline;">
                                          <img id="board_file3Img" src="/images/filePlus3.png" width="110px" height="110px" style="display:inline;">
                                      </label>
                                  </div>
                                  <input id="board_file3" name="board_file3" type="file" style="display:none;" accept="image/*" />
                                  <input type="button" onclick="cancelFile('board_file3')" value="첨부 삭제" class="deleteButton">
                              </div>
                          </div>-->

                        <!-- 상품설명작성란 -->
                        <div style="margin-top:3%;">
                            <p style="margin: 0;text-align:left">상품 설명</p>
                            <textarea name="goodsContent" placeholder="상품 설명 작성" style="resize:none;" rows="30"></textarea>

                        </div>
                        <!--가격작성란  -->
                        <div style="width:60%;margin-top:30px;">
                            <p style="margin: 0;text-align:left">가격</p>
                            <input type="text" name="goodsPrice" id="goodsPrice" value="" placeholder="숫자만 입력" />
                        </div>

                        <!-- 상품 옵션 -->
                        <p style="margin: 0;text-align:left;margin-top:30px;">상품 옵션</p>
                        <form>
                            <div id="goodsOption" style="text-align:left;">
                                <input id="goods_option_btn" type="button" value="추가" onclick="add_textbox()">
                            </div>
                        </form>


                        <!-- 등록 및 취소 버튼 -->
                        <ul class="actions" style="display:flex; justify-content:center; margin-top:3%;">
                            <li><input type="submit" value="등록" class="primary"></li>
                            <li><input type="button" value="취소" onclick="history.back()"/></li>
                        </ul>
                    </form>

                </article>
            </div>
        </div>
    </section>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
<script> $(function() { $("#postcodify_search_button").postcodifyPopUp(); }); </script>
<script src="/js/shopEnroll.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
<script>

    /*
        $(".files").change(function(e){
            var file = e.target.files[0];
            var img = $(this).find("img");

            if(!file.type.match("image.*")){
                img.attr("src", "/images/no_img.jpg");
            }else{
                var reader = new FileReader();
                reader.onload = function(e){
                    img.attr("src", e.target.result)
                }
                reader.readAsDataURL(file);
            }
        })

        function cancelFile(fileTagName){

            $("input[name='" + fileTagName + "']").val("");
            $("img#" + fileTagName + "Img").attr("src", "/images/filePlus3.png");
        }*/

</script>

<script>
    let check = false;
    function showImage(fileCallPath){
        if(check) {return;}
        $(".bigPictureWrapper").css("display", "flex").show();
        $(".bigPicture").html("<img src='/upload/display?fileName=" + encodeURIComponent(fileCallPath) + "'>")
            .animate({width:"100%", height:"100%"}, 1000);
        check = true;
    }

    $(".bigPictureWrapper").on("click", function(){
        if(!check){return;}
        $(".bigPicture").animate({width: "0%", height: "0%"}, 1000);
        setTimeout(function(){
            check = false;
            $(".bigPictureWrapper").hide();
        }, 1000)
    })

    $(document).ready(function(){
        let regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
        let maxSize = 5242880;// 5MB
        let inputFile = $(".uploadDiv input");
        let uploadResult = $(".uploadResult ul");

        //form태그에 input hidden 생성 실습
        //서버 쪽으로 전달할 첨부파일의 데이터를 input type hidden으로 추가하기
        //추가된 li태그를 모두 가져와서 data속성을 통해 알맞는 값을 설정한다.
        //form.append("추가할 HTML") : HTML 추가
        //submit을 눌렀을 때 click 이벤트를 발생하고, 기존 submit이벤트는 막아줘야 한다.
        //input태그가 모두 추가된 후 submit()해준다.

        $("input[type='submit']").on("click", function(e){
            e.preventDefault();
            let form = $("form#registForm");
            let str = "";
            $(".uploadResult ul li").each(function(i, obj){
                str += "<input type='hidden' name='attachList[" + i + "].fileName' value='" + $(obj).data('name') + "'>"
                str += "<input type='hidden' name='attachList[" + i + "].uuid' value='" + $(obj).data('uuid') + "'>"
                str += "<input type='hidden' name='attachList[" + i + "].uploadPath' value='" + $(obj).data('path') + "'>"
                str += "<input type='hidden' name='attachList[" + i + "].image' value='" + $(obj).data('type') + "'>"
            });
            form.append(str).submit();
        })

        function showUploadFile(uploadFiles){
            let str = "";
            $(uploadFiles).each(function(i, obj){
                if(!obj.image){
                    let fileCallPath = encodeURIComponent(obj.uploadPath + "/" + obj.fileName);

                    str += "<li data-path='" + obj.uploadPath + "' data-uuid='" + obj.uuid + "' data-name='" + obj.fileName.substring(obj.fileName.indexOf("_") + 1) + "' data-type='" + obj.image +"'>";
                    str += "<div>";
                    str += "<a href='/upload/download?fileName=" + fileCallPath + "'>";
                    str += "<img src='/img/attach.png' width='100px'>" + obj.fileName.substring(obj.fileName.indexOf("_") + 1);
                    str += "</a>"
                    str += "<span data-file='" + fileCallPath + "' data-type='file'>x</span>";
                    str += "</div>";
                    str += "</li>";
                }else{
                    let fileCallPath = encodeURIComponent(obj.uploadPath + "/s_" + obj.fileName);
                    let originPath = encodeURIComponent(obj.uploadPath + "/" + obj.fileName);

                    str += "<li data-path='" + obj.uploadPath + "' data-uuid='" + obj.uuid + "' data-name='" + obj.fileName.substring(obj.fileName.indexOf("_") + 1) + "' data-type='" + obj.image +"'>";
                    str += "<div>";
                    str += "<a href=\"javascript:showImage(\'" + originPath + "\')\">";
                    str += "<img src='/upload/display?fileName=" + fileCallPath + "'>" + obj.fileName.substring(obj.fileName.indexOf("_") + 1);
                    str += "</a>";
                    str += "<span data-file='" + fileCallPath + "' data-type='image'>x</span>";
                    str += "</div>";
                    str += "</li>";
                }
            });
            uploadResult.append(str);
        }

        $(".uploadResult").on("click", "span", function(){
            let targetFile = $(this).data("file");
            let type = $(this).data("type");
            let li = $(this).parents("li");

            $.ajax({
                url: "/upload/deleteFile",
                type: "POST",
                data: {fileName:targetFile, type:type},
                dataType: "text",
                success: function(result){
                    alert(result);
                    li.remove();
                }
            });

        })

        //확장자 별 업로드 제한, 특정 크기 이상의 파일은 업로드 제한
        function checkExtension(fileName, fileSize){
            if(regex.test(fileName)){
                alert("업로드 할 수 없는 파일의 형식입니다.");
                return false;
            }
            if(fileSize >= maxSize){
                alert("파일 사이즈 초과");
                return false;
            }
            return true;
        }

        $("input[type='file']").change(function(){
            let formData = new FormData();
            let inputFile = $("input[name='uploadFiles']");
            let files = inputFile[0].files;

            for(let i=0; i<files.length; i++){
                if(!checkExtension(files[i].name, files[i].size)){ return; }
                formData.append("uploadFiles", files[i]);
            }

            $.ajax({
                url: "/upload/uploadAjaxAction",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                success: function(fileList){
                    showUploadFile(fileList);
                    inputFile.val("");
                }
            });
        });
    })
</script>

</html>