<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <title>successPayment</title>
</head>
<style>
    .payment{
        width: 50%;
        text-align: center;
        display: flex;
        margin: auto;
        background-color: #f7f7f7;

    }

    .button{
        width: 20%;
        margin-top: 1%;
        text-align: center;
    }
    .paymentDiv{
        text-align: center;
        margin-top: 6%;
    }
</style>
<body>
<div class="paymentDiv">
<img style ="width: 10%;" src="/images/초록체크2.png">
    <h2>주문이 완료되었습니다.</h2>
    <h4>최원준 님의 주문 결과는 다음과 같습니다.</h4>
    <div class="payment">
    <table style="margin: auto;">
        <tr>
         <td>
             주문번호
         </td>
         <td>
             202111097556479
         </td>
        </tr>
        <td>
            결제금액
        </td>
        <td>
            55,000원
        </td>
        <tr>
            <td>
                포인트사용
            </td>
            <td>
                0point
            </td>
        </tr>
        <tr>
            <td>
                결제 상태
            </td>
            <td>
                정상
            </td>

        </tr>
    </table>

    </div>

    <button class="button">주문내역보기</button>
    <button id="confirm_btn" class="button">확인</button>
</div>

</body>
<script>

    $("#confirm_btn").on("click", function(){
        location.href="/shop/shop"
    });

</script>
</html>